extends ../../layouts/default.pug

block main
  h3.mb-2 NHẬP ĐIỂM HƯỚNG DẪN
    .dropdown
          button.btn.btn-outline-primary.dropdown-toggle(type="button" data-toggle="dropdown")
            | Lọc
          ul.dropdown-menu.dropdown-menu-right
            li
              a.dropdown-item(href="?filter=all") Tất cả
            li
              a.dropdown-item(href="?filter=yes") Đã chấm điểm
            li
              a.dropdown-item(href="?filter=no") Chưa chấm điểm

  table.table.table-bordered.table-hover
    thead.table-dark
      tr
        th MSSV
        th Họ tên
        th Lớp
        th Đề tài
        th Nhóm
        th Điểm HD
        th Hành động
    tbody
      each row in rows
        tr
          td= row.sv.msvv
          td= row.sv.ten
          td= row.sv.lop
          td
            if row.detai
              strong #{row.detai.ten}
              // HIỂN THỊ CẢNH BÁO NẾU ĐÃ PHÂN CÔNG HỘI ĐỒNG
              if row.daPhanCongHD
                small.d-block.text-danger
                  | Đã phân công hội đồng
            else
              span.text-muted Chưa có
          td= row.sv.group || ""
          td
            if row.dhd
              strong.text-primary #{row.dhd.diemBangSo}
            else
              span.text-muted Chưa nhập
          td
            // KIỂM TRA: NẾU ĐÃ PHÂN CÔNG HỘI ĐỒNG THÌ ẨN NÚT SỬA
            if !row.daPhanCongHD
              a.btn.btn-sm.btn-info.mr-1(href=`/giangvien/diemhuongdan/form/${row.sv._id}`)
                | #{row.dhd ? "Sửa" : "Nhập điểm"}
            else
               a.btn.btn-sm.btn-primary.mr-1(href=`/giangvien/diemhuongdan/detail/${row.sv._id}`)
                | #{row.dhd ? "detail" : "Nhập điểm"}
            
            // NÚT XUẤT WORD (VẪN HIỆN KHI CÓ ĐIỂM)
            if row.dhd
              a.btn.btn-sm.btn-success(href=`/giangvien/diemhuongdan/export/${row.sv._id}`)
                | Xuất Word