extends ../../layouts/default.pug

block main
  h3.mb-3 THEO DÕI ĐIỂM PHẢN BIỆN
  a.btn.btn-success.mb-3(href="/admin/theodoidiempb/export")
    | Xuất Excel

  table.table.table-bordered.table-sm
    thead.thead-dark
      tr
        th Nhóm
        th MSSV
        th Tên SV
        th Đề tài
        th GVHD
        th Điểm
        th Đề nghị
        th Hành động
    tbody
      if rows.length
        each r in rows
          tr
            td.text-center= r.group
            td= r.mssv
            td= r.ten
            td= r.detai
            td= r.gvhd
            td.text-center= r.diem
            td= r.denghi

            if r.showAction
                td.text-center(
                    rowspan=r.rowspan
                    style="vertical-align: middle;"
                )
                    a.btn.btn-sm.btn-info(
                    href=`/admin/theodoidiempb/detail/${r.id}`
                    ) Xem chi tiết
      else
        tr
          td(colspan="8", class="text-center text-muted") Chưa có dữ liệu.
