extends ../../layouts/default.pug

block main
  .container
    h3.mb-4 Chỉnh sửa thông tin sinh viên
    form(method="POST" action=`/${prefixAdmin}/giangvien/edit/${gv._id}?_method=PATCH`)
      .form-group
        label Mã giản viên
        input.form-control(type="text" name="magv" required value=gv.magv)
      .form-group
        label Họ tên
        input.form-control(type="text" name="hoten" required value=gv.hoten)
        label Email
        input.form-control(type="email" name="email" value=gv.email)
      button.btn.btn-warning.mt-3.text-white(type="submit") Cập nhật
      a.btn.btn-secondary.mt-3.ms-2(href=`/${prefixAdmin}/giangvien`) Quay lại