extends ../../layouts/default.pug

block main
  .container.mt-4
    h2.text-primary Chi tiết đề tài

    table.table.table-bordered
      tr
        th Tên đề tài
        td #{detai.ten}

      tr
        th Mô tả
        td #{detai.mota}

      tr
        th Nhiệm vụ
        td.pre-line
          each nv in detai.nhiemvu
            | • #{nv}
            br

      tr
        th Sinh viên 1
        td #{detai.sv1 ? detai.sv1.ten + " (" + detai.sv1.msvv + ")" : "Không có"}

      tr
        th Sinh viên 2
        td #{detai.sv2 ? detai.sv2.ten + " (" + detai.sv2.msvv + ")" : "Không có"}

      tr
        th Giảng viên hướng dẫn
        td #{detai.giangvien_id.hoten} (#{detai.giangvien_id.magv})

      tr
        th Ngày giao
        td #{detai.ngaygiao ? detai.ngaygiao.toLocaleDateString("vi-VN") : ""}

      tr
        th Ngày hoàn thành
        td #{detai.ngayhoanthanh ? detai.ngayhoanthanh.toLocaleDateString("vi-VN") : ""}

      tr
        th Trạng thái
        td #{detai.trangthai}

    a.btn.btn-secondary.mt-3(href="/admin/detai") Quay lại
