.sider
  .inner-menu
    ul
      li
        a(href=`/${prefixAdmin}/dashboard`) Tổng quan

      li
        a(href=`/${prefixAdmin}/sinhvien`) Quản lý sinh viên

      li
        a(href=`/${prefixAdmin}/giangvien`) Quản lý giảng viên

      li
        a(href=`/${prefixAdmin}/detai`) Quản lý đề tài
      li 
        a(href=`/${prefixAdmin}/hoidong`) Quản lý hội đồng
      li 
        a(href=`/${prefixAdmin}/dsnhombv`) Phân công bảo vệ

      //  Phân công
      li.menu-group
        span Phân công
        ul.sub-menu
          li
            a(href=`/${prefixAdmin}/phancong`) Phân công hướng dẫn
          li
            a(href=`/${prefixAdmin}/phancongphanbien`) Phân công phản biện

      //   Theo dõi tiến độ 
      li.menu-group
        span Theo dõi tiến độ
        ul.sub-menu
          li
            a(href=`/${prefixAdmin}/danhgiagk`) Đánh giá giữa kỳ
          li
            a(href=`/${prefixAdmin}/theodoidiemhd`) Theo dõi điểm hướng dẫn
          li
            a(href=`/${prefixAdmin}/theodoidiempb`) Theo dõi điểm phản biện
      li 
        a(href=`/${prefixAdmin}/ketqua`) Quản lý kết quả
