.sider
  .inner-menu
    ul 
      li
        a(href=`/${prefixAdmin}/dashboard`) Tổng quan
      li 
        a(href=`/${prefixAdmin}/sinhvien`) Quản lý sinh viên
      li 
        a(href=`/${prefixAdmin}/giangvien`) Quản lý giảng viên
      li
        a(href=`/${prefixAdmin}/phancong`) Phân công hướng dẫn
      li
        a(href=`/${prefixAdmin}/detai`) Quản lý đề tài
      li 
        a(href=`/${prefixAdmin}/danhgiagk`) Đánh giá giữa kỳ
      li 
        a(href=`/${prefixAdmin}/phancongphanbien`) Phân công phản biện